%section.content
	%h1
		School Timetable
		%small Learning
	/ / start:breadcrumb
	/ %ol.breadcrumb
	/ 	%li
	/ 		%a{:href => "#"}
	/ 			%i.fa.fa-home
	/ 			Dashboard
	/ 	%li
	/ 		%a{:href => "#"} Calendar
	/ 	%li.active Dragging Calendar
	/ / end:breadcrumb
	/ start:content
	.row
		.col-md-12
			/ start:basic calendar
			.panel
				.panel-body
					%h4 Dragging Calendar
					%hr
						.row
							.col-md-2
								#external-events
									%h4 Draggable Events
									.external-event.label.label-success My Event 1
									.external-event.label.label-primary My Event 2
									.external-event.label.label-danger My Event 3
									.external-event.label.label-warning My Event 4
									.external-event.label.label-info My Event 5
									.external-event.label.label-success My Event 6
									.external-event.label.label-primary My Event 7
									.external-event.label.label-danger My Event 8
									.external-event.label.label-warning My Event 9
									.external-event.label.label-info My Event 10
									%p
										%input#drop-remove{:type => "checkbox"}/
										%label{:for => "drop-remove"} remove after drop
							.col-md-10
								#calendar
			/ end:basic calendar
	/ end:content

:javascript
	

	$('#external-events div.external-event').each(function() {
	
			// create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
			// it doesn't need to have a start or end
			var eventObject = {
					title: $.trim($(this).text()) // use the element's text as the event title
			};
			
			// store the Event Object in the DOM element so we can get to it later
			$(this).data('eventObject', eventObject);
			
			// make the event draggable using jQuery UI
			$(this).draggable({
					zIndex: 999,
					revert: true,      // will cause the event to go back to its
					revertDuration: 0  //  original position after the drag
			});
			
	});
	
	$('#calendar').fullCalendar({
			header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
			},
			editable: true,
			droppable: true, // this allows things to be dropped onto the calendar !!!
			drop: function(date) { // this function is called when something is dropped
			
					// retrieve the dropped element's stored Event Object
					var originalEventObject = $(this).data('eventObject');
					
					// we need to copy it, so that multiple events don't have a reference to the same object
					var copiedEventObject = $.extend({}, originalEventObject);
					
					// assign it the date that was reported
					copiedEventObject.start = date;
					
					// render the event on the calendar
					// the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
					$('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
					
					// is the "remove after drop" checkbox checked?
					if ($('#drop-remove').is(':checked')) {
							// if so, remove the element from the "Draggable Events" list
							$(this).remove();
					}
					
			}
	});