<div class="ui purple inverted menu">
    <i class="home icon"></i> Home
  </a>
  <a class="item" href="/map">
    <i class="pin icon"></i> Dashboard
  </a>
    <i class="plus icon"></i> Add a company
  </a>
    <i class="plus icon"></i> Add a branch
  </a>
  <div class="right menu">
    <div class="ui dropdown item">
      Sign Out
    </div>
  </div>
</div>